<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      .border-warning{
        width: 500px;
        margin-left: -130px;
        /* margin: auto; */
        /* padding: 10px; */
        /* margin-top: 45px; */
        margin-top: -20px;
      }
      .border-warning {
    border-color: #023b70!important;
}
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    background-color: #0359a8;
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    padding: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ddd;
    color:black;
    text-align: center;
  }


      .content-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 25px;
        min-width: 750px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 2px rgba(0,0,0,15);
        margin-left: auto;
        margin-right: auto;
       }

       .content-table thead tr{
           background-color:#0359a8;
           color: #ffffff;
           text-align: left;
           font-weight: bold;
       }

       .content-table th
       .content-table td{
           padding: 50px 50px;
       }

       .content-table tbody tr{
           border-bottom: 1px solid #dddddd;
       }

       .content-table tbody tr:nth-of-type(even){
           background-color: #f3f3f3;
       }

        .content-table tbody tr:last-of-type{
           border-bottom: 2px solid #0359a8 ;
        }

        /* Style the top navigation bar */
    /* .navbar { */
      /* overflow: hidden; */
      /* background-color: #333; */
    /* } */
    /* Style the navigation bar links */
    /* .navbar a { */
      /* float: left; */
      /* display: block; */
      /* color: white; */
      /* text-align: center; */
      /* padding: 14px 20px; */
      /* text-decoration: none; */
    /* } */
    /* Right-aligned link */
    /* .navbar a.right { */
      /* float: right; */
    /* } */
    /* Change color on hover */
    /* .navbar a:hover { */
      /* background-color: #ddd; */
      /* color: black; */
    /* } */
    </style>
  </head>
  <body>
    <div class="nv">
      <nav class='row'>
        <div class="col">
          <div class="navbar">
         <a href="/profile" class="">PROFILE</a>
         <a href="/profile/updateprofile">UPDATE-PROFILE</a>
         <a href="/profile/appoinment">BOOK-APPOINMENTS</a>
         <a href="" class="">MEDICAL-HISTORY</a>
         <a href="/logout" class="">LOGOUT</a>
        </div></div>
      </nav>
      </div>
      <br>
    <h2 style="text-align: center;">APPOINMENTS</h2>
    <table class="content-table">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Date</th>
                 <th>Name</th>
                <th>Doctor</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <% appoinment.forEach(function(entry,index){ %>
                <tr>
                <td><%= index+1 %></td>
                <td><%= entry.date %> </td>
                <td><%= entry.name %></td>
                <td><%= entry.doctor %></td>
                <td><%= entry.desc %></td>
                </tr>
           <%  }) %>
            </tbody>
    </table>
    <div class="footer">
      <h2>Footer</h2>
      </div>
    </body>
  </body>
</html>
